### Ignore files of Project ###
.env

### Ignore files of PHP ###
/php/logs/*

### Ignore files of DB ###
/mysql/data/*
/mysql/logs/*


# =====================================
# =====================================


### Not ignore files of Project ###

### Ignore files of PHP ###
!/php/logs/index.html

### Not ignore files of DB ###
!/mysql/data/index.html
!/mysql/logs/index.html
